.secContact {
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
}

.contact li {
    list-style-type: none;
}

.contact a {
    display: block;
    min-width: 600px;
    width: 40%;
    font-weight: bold;

    margin: 40px 20px 10px 20px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;

    border-radius: 4px;

    transition: all 0.3s;

    background-color: #98d65a;
    box-shadow: 10px 5px 5px 1px rgba(0, 0, 0, 0.678), -10px -5px 2px rgba(236, 9, 9, 0.5);
    border-radius: 20px;
}

.github, .instagram, .facebook, .linkedin, .twitter, .gmail, .phone {
    color: rgba(0, 0, 0, 0.849);
}



.contact a img {
    width: 70px;
}

.contact a.actif {
    background-color: #000; 
    color: #1ABC9C ;
    border-color: #1ABC9C ; 
}

.github:hover, #github:hover.actif {
    background-color: rgba(58, 56, 56, 0.781);
    border-color: #1ABC9C;
}

.instagram:hover, #instagram:hover.actif {
    background-color: rgb(236, 186, 194);
    border-color: #1ABC9C;
}

.facebook:hover, #facebook:hover.actif {
    background-color: rgba(33, 31, 192, 0.432);
    color: rgba(0, 0, 0, 0.877);
    border-color: #1ABC9C;
}

.linkedin:hover, #linkedin:hover.actif {
    background-color: rgba(84, 149, 245, 0.979);
    border-color: #1ABC9C;
}

.twitter:hover, #twitter:hover.actif {
    background-color: rgba(0, 172, 193, 0.979);
    border-color: #1ABC9C;
}

.gmail:hover, #gmail:hover.actif {
    background-color: rgba(134, 10, 10, 0.815);
    border-color: #1ABC9C;
}

.phone:hover, #phone:hover.actif {
    background-color: rgba(32, 214, 78, 0.863);
    border-color: #1ABC9C;
}

@media screen and (max-width: 620px){
    .contact a {
        min-width: 80%;
    }
}
