/* menu */

header {
    display: flex;
	padding: 0;
	background-color: #105e06;
    justify-content: center;
}

.menu {
    display: flex;
	padding: 0;
	background-color: #105e06;
    justify-content: center; 
}

.menu2 {
    padding: 0;
    background-color: #105e06;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.25s;
    transform: translateX(100vw);
    z-index: 10;
}

.menu2.active {
    transform: translateX(0);
}

#logoBurger, #croix {
    cursor: pointer;
    width: 50px;
}

#logoBurger {
    display: none;
}

#croix {
    position: absolute;
    right: 50px;
    top: 50px;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#logoBurger, .burger {
    transition: 0.7s;
}

#burger:checked ~ #logoBurger, #burger:checked ~ .burger {
    transform: translate(0);
}

.burger li {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    width: 200px;
    padding: 10px 0;
    margin: 10px;
    text-align: center;
    background-color: rgb(26, 151, 64);
    border: 1px solid #fff;
    border-radius: 10px;

    transition: all 0.3s;

    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.burger li a {
    color: aliceblue;
}

.burger li:hover {
    background-color: #b5b5b5;
    color: #98d65a;
    border-color: black;
}

.menu li, .menu2 ul li {
    list-style-type: none;
}

.menu a {
    display: block;
    min-width: 120px;

    margin: 10px;
    padding: 15px 0;
    text-align: center;
    background-color: rgb(26, 151, 64);
    color: aliceblue;
    text-decoration: none;
    border: 1px solid #fff;

    transition: all 0.3s;

    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.menu a:hover, .menu a:hover.actif {
    background-color: #5db308;
    font-weight: bold;
    color: aliceblue;
    border-color: black;
}

@media screen and (max-width: 710px){
    .menu {
        display: none;
    }

    #logoBurger {
        display: block; 
    }

    header {
        justify-content: flex-end;
        padding: 10px 50px;
    }
}

