.project{
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.25s;
    position: relative;
}

.plusTaille {
    height: 20px;
    width: 20px;
}

.project:hover{
    transform: scale(1.025);

    box-shadow: 0px 4px 4px rgb(41 41 41 / 25%);
}

.project > img{
    width: 100%;
}

.project > div{
    width: 100%;
    height: 195px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project > div > p{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--text-color);
}

.project > div > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: var(--second-background-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    border: 4px solid var(--second-background-color);
    position: relative;
    overflow: hidden;
}


.project::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--second-background-color);
    transform: scale(0);
    transition: 0.25s;
    position: absolute;
    bottom: 0;
  } 

  .project:hover::before {
    transform: scale(1);
  }


.fenetreModale{
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.fenetreModale.open{
    display: flex;
}

.fenetreModale > .content{
    width: 60%;
    height: 70%;
    padding: 50px;
    background-color: #98d65a;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.fenetreModale > .content > button{
    position: absolute;
    top: 20px;
    right: 20px;
}

.fenetreModale .content > div{
    margin-top: 50px;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;

}

.fenetreModale .images img{
    width: 25%;
}

.fenetreModale .content > div > .images{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.fenetreModale .content li::marker{
    color: var(--second-background-color);
}

.fenetreModale .content li{
    margin-left: 20px;
}

.fenetreModale .content h3{
    margin-top: 30px;
}

.fenetreModale .content .Pliste{
    margin-top: 10px;
    font-weight: bold;
}


@media screen and (max-width: 800px){
    .fenetreModale > .content{
        height: 80%;
    }
}

@media screen and (max-width: 665px){
    .project{
        width: 200px;
    }
    .project > div > p{
        font-size: small;
    }
    
    .project > div > a{
        font-size: small;
    }
}