#projects>div {
  width: 100%;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.proj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  width: 1020px;
  margin: 40px auto;
}

@media screen and (max-width: 1030px){
  .proj {
    width: 100%;
  }
}
